# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Secrets -- NEVER commit your real keys
.env
.env.local

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Mac / Windows
.DS_Store
Thumbs.db
